/* Custom styles */

html, body {
  margin: 0;
  padding: 0;
}
.logo-satelite {
  width: 7vh;
}

#map {
  width: 100%;
  height: 90vh;
}
.leaflet-tile-loaded {
  filter: brightness(1) invert(1) grayscale(10);
}
.dropdown-toggle {
  margin-right: 25px;
}
.nav-link {
  color: #adb5bd;
}

#lista-satelites {
  max-height: 80vh;
  overflow-y: auto;
}
